body {
    background-color: rgb(97, 156, 208);
    /*  background-image: url("Dibujoa.png")*/
}

h1 {
    color: rgb(6, 44, 27);
    font-size: 24px;
}

img {
    border-radius: 15px;
    margin: 10px;
    width: 150px;
    height: 150px;
}
