body {
    background-color: rgb(46, 122, 188);
    background-image: url("Dibujoa.png");
}

h1 {
    color: white;
    font-size: 24px;
}

img {
    border-radius: 15px;
    margin: 10px;
    width: 150px;
    height: 150px;
}
